/*-------------------------- GENERAL --------------------------*/
body {
  padding:0; margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#121212;
}
div, mg, p, a, ul, form, input, label, h2, h3 {
  padding:0; 
  margin:0;
}
img{ 
  border:none;
}
a{ 
  outline:none; 
  text-decoration:none;
}
ul{ 
  list-style-type:none;
}
.spacer{
  line-height:0; 
  font-size:0; 
  clear:both;
}

/*-------------------------- HEADER --------------------------*/
div#header-bg{
  background:#2B0D0A url(images/header-bg.gif) 0 100% repeat-x;
  padding:32px 0 32px 0;
  color:#FCF7CC;
}
div#header-bg div#header{
  width:922px; 
  margin:0 auto;
}
div#header-bg div#header img.logo{
  float:left; 
  margin:2px 0 0 0;
}

/*-------------------------- AREA DEL LOGIN --------------------------*/
div#header-bg div#header div#login-bg{
  float:right; 
  width:580px;
  background:url(images/login-middle-bg.gif) 0 0 repeat-x;
}
div#header-bg div#header div#login-bg div#login-area{
  width:580px;
  background:url(images/login-left-bg.gif) 0 0 no-repeat;
}
div#header-bg div#header div#login-bg div#login-area form{
  width:557px; 
  height:47px; 
  padding:21px 0 0 23px;
  background:url(images/login-right-bg.gif) 100% 0 no-repeat;
}
div#header-bg div#header div#login-bg div#login-area form label{
  background:url(images/login-icon.jpg) 0 2px no-repeat;
  line-height:25px; 
  font-size:22px; 
  color:#FCF7CC;
  padding:0 0 0 31px; 
  float:left; 
  margin:0 12px 0 0;
  background-color:inherit;
}
div#header-bg div#header div#login-bg div#login-area form input{
  width:120px; 
  height:18px; 
  border:1px solid #924A43;
  background-color:#70322C; 
  font-size:10px; 
  color:#fff;
  line-height:10px; 
  padding:5px 0 0 10px; 
  float:left;
  margin:0 12px 0 0;
}
div#header-bg div#header div#login-bg div#login-area form input.login-btn{
  width:52px; 
  height:24px; 
  border:none;
  background:none; 
  padding:0; 
  margin:1px 0 0 0;
}
/*-------------------------- AREA DEL NAVEGADOR --------------------------*/
div#navegacion-bg{
  height:66px; 
  background:url(images/navigation-bg.gif) 0 0 repeat-x;
}
div#navegacion-bg div#navegacion{
  width:922px; 
  margin:0 auto;
}
div#navegacion-bg div#navegacion ul.mainMenu{
  padding:0; 
  float:left; 
  width:567px;
}
div#navegacion-bg div#navegacion ul.mainMenu li{
  width:81px; 
  float:left;
  background:url(images/navigation-divider.gif) 100% 0 no-repeat;
}
div#navegacion-bg div#navegacion ul.mainMenu li a{
  width:80px; 
  height:33px; 
  display:block;
  line-height:33px; 
  text-align:center;
  font-weight:bold; 
  color:#FAF0C2; 
  font-size:11px;
  background-color:inherit;
}
div#navegacion-bg div#navegacion ul.mainMenu li a:hover{
  background:url(images/navigation-bg-selected.gif) 0 0 no-repeat;
}

div#navegacion-bg div#navegacion ul.mainMenu li a.selectMenu {
  width:80px; 
  height:33px; 
  display:block;
  line-height:33px; 
  text-align:center;
  font-weight:bold; 
  color:#FAF0C2; 
  font-size:11px;
  background:url(images/navigation-bg-selected.gif) 0 0 no-repeat;
  background-color:inherit;
}

/*-------------------------- DROP DOWN MENU STARTS --------------------------*/
ul.subNav{
  font:normal 11px/12px Arial, Helvetica, sans-serif;
  padding:4px 0 0 0;
}
ul.subNav li{
  background:url(images/navigation-dropdown-divider.gif) 0 0 no-repeat;
  height:17px; 
  float:left; 
  padding:6px 0 0 0;
}
ul.subNav li a{
  display:block; 
  margin:0 22px 0 20px;
  color:#84915D;
  background-color:inherit;
}
ul.subNav li a:hover{
  color:#fff;
  background-color:inherit;
}
/*-------------------------- DROP DOWN MENU ENDS --------------------------*/

div#navegacion-bg div#navegacion a.signup{
  width:71px; 
  height:28px; 
  display:block;
  background:url(images/sign-up-btn.gif) 0 0 no-repeat;
  margin:2px 0 0 0; 
  float:right; 
}
div#navegacion-bg div#navegacion a.signup:hover{
  background:url(images/sign-up-btn-selected.gif) 0 0 no-repeat;
}

/*-------------------------- CONTENIDO "MAIN FEATURES" --------------------------*/
div#contenido-bg{
  background:#E7DFA0 url(images/our-company-bg.gif) 0 0 repeat-x;
  color:inherit;
}
div#contenido-bg div#contenido-part{
  width:922px; 
  margin:0 auto; 
  padding:26px 0 28px 0;
  /*background:url(images/our-company-bg-pic.jpg) 606px 0 no-repeat; --------------> Esta no porque la lia*/
}
div#contenido-bg div#contenido-part h2.contenido-hdr{
  font:normal 35px/38px "Arial Narrow", Arial, Helvetica, sans-serif;
  color:#082733; 
  width:574px; 
  height:43px;
  background:url(images/horz-dot.gif) 0 100% repeat-x;
  background-color:inherit;
}
div#contenido-bg div#contenido-part div#contenido-leftPart{
  width:284px; 
  border-right:2px solid #CBC387;
  margin:12px 0 0 0; 
  float:left;
}
h2.faq-Hdr{
  width:231px; 
  height:20px; 
  color:#951509;
  line-height:19px; 
  font-weight:bold; 
  font-size:12px;
  padding:0 0 0 21px; 
  background:#FAF3BB url(images/faq-icon.gif) 3px 4px no-repeat;
}
h2.moreIdeas-Hdr{
  width:231px; 
  height:20px; 
  color:#951509;
  line-height:19px; 
  font-weight:bold; 
  font-size:12px;
  padding:0 0 0 21px; 
  background:#FAF3BB url(images/more-ideac-icon.gif) 3px 4px no-repeat;
}
ul.contenido-list{
  padding:11px 0 10px 0;
}
ul.contenido-list li{
  background:url(images/bullet1.gif) 0 3px no-repeat;
  display:block; 
  margin:0 0 8px 0; 
  padding:0 0 0 15px;
  color:#47481A; 
  font-size:11px; 
  line-height:11px;
  background-color:inherit;
}
ul.contenido-list li a{
  color:#47481A; 
  font-size:11px; 
  line-height:11px;
  text-decoration:underline;
  background-color:inherit;
}
ul.contenido-list li a:hover{
  text-decoration:none;
}
div#contenido-bg div#contenido-part div#contenido-rightPart{
  width:252px; 
  margin:12px 0 0 0; 
  float:left;
  padding:0 0 0 25px;
}
h2.moreInfo-Hdr{
  width:231px; 
  height:20px; 
  color:#951509;
  line-height:19px; 
  font-weight:bold; 
  font-size:12px;
  padding:0 0 0 21px; 
  background:#FAF3BB url(images/more-info-icon.gif) 3px 4px no-repeat;
}
p.moreInfo-Text{
  padding:0 0 20px 23px; 
  font-size:10px;
  line-height:14px; 
  color:#47481A;
  background-color:inherit;
}
h2.searchUrl-Hdr{
  width:231px; 
  height:20px; 
  color:#951509;
  line-height:19px; 
  font-weight:bold; 
  font-size:12px;
  padding:0 0 0 21px; 
  background:#FAF3BB url(images/search-url-icon.gif) 3px 4px no-repeat;
}

/*-------------------------- FUTURE PLANS --------------------------*/
div#futurePlan-bg{
  background:#2B0D0A url(images/future-plan-bg.gif) 0 0 repeat-x;
  color:#837C44;
}
div#futurePlan-bg div#futurePlanContant{
  width:922px; 
  margin:0 auto;
  padding:37px 0 54px 0;
}


/*-------------------------- FOOTER --------------------------*/
div#footer-bg{
  background:#121212 url(images/footer-bg.gif) 0 0 repeat-x;
  color:#B3AC8B;
}
div#footer-bg div#footer-menu{
  width:922px; 
  margin:0 auto;
  padding:20px 0 29px 0;
  background:url(images/footer-logo.jpg) 100% 13px no-repeat;
}
div#footer-bg div#footer-menu ul.footMenu{
  padding:0 0 0 0;
}
div#footer-bg div#footer-menu ul.footMenu li{
  float:left; 
  background:url(images/footmenu-divider.gif) 0 3px no-repeat;
}
div#footer-bg div#footer-menu ul.footMenu li.noDivider{
  background:none;
}
div#footer-bg div#footer-menu ul.footMenu li a{
  color:#B3AC8B; 
  font-size:11px; 
  line-height:16px;
  padding:0 7px 0 7px; 
  display:block; 
  margin:0 0 0 1px;
  background-color:inherit;
}
div#footer-bg div#footer-menu ul.footMenu li a:hover{
  background-color:#262626;
  color:#B3AC8B;
}
div#footer-bg div#footer-menu p.copyright{
  padding:5px 0 0 7px; 
  color:#706933;
  font-size:11px; 
  line-height:11px;
  background-color:inherit;
}
div#footer-bg div#footer-menu p.copyright a {
  color:#B3AC8B;
  background-color:inherit;
}
div#footer-bg div#footer-menu p.copyright a:hover {
  color:#706933;
  background-color:inherit;
}

/*-------------------------- OTRAS MOVIDAS --------------------------*/
.noBottomPadding{
padding-bottom:0 !important;
}
.noBg{
background:none !important;
}
.topPad{
padding-top:15px !important;
}



